[% USE raw %]
[% USE Asset %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Administration &rsaquo; Authorized values
[% IF op == 'add_form' %]
  [% IF ( action_modify ) %] &rsaquo; Modify authorized value[% END %]
  [% IF ( action_add_value ) %] &rsaquo;  New authorized value[% END %]
  [% IF ( action_add_category ) %] &rsaquo; New category[% END %]
[% END %]
</title>
[% INCLUDE 'doc-head-close.inc' %]

<style>
	fieldset.rows div.toptabs li { clear:none;margin-right:.5em;padding-bottom:0;width:auto; }
    fieldset.rows div.toptabs .ui-tabs-nav li.ui-tabs-active {background-color : #F4F8F9; }
	fieldset.rows .ui-tabs-panel { margin-right : 10px; margin-left : 10px;margin-bottom:10px;}
    fieldset.rows .ui-tabs-nav { margin-left : 10px; }
</style>
</head>

<body id="admin_authorised_values" class="admin">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'prefs-admin-search.inc' %]
<div id="breadcrumbs">
    <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo;
    <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo;
    [% IF op == 'add_form' %]
        <a href="/cgi-bin/koha/admin/authorised_values.pl">Authorized values</a> &rsaquo;
        [% IF ( action_modify ) %]Modify authorized value[% END %]
        [% IF ( action_add_value ) %]New authorized value[% END %]
        [% IF ( action_add_category ) %]New category[% END %]
    [% ELSIF ( loop ) %]
        <a href="/cgi-bin/koha/admin/authorised_values.pl">Authorized values</a> &rsaquo;
        Authorized values for category [% category | html %]
    [% ELSE %]
        Authorized values
    [% END %]
</div>

<div class="main container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-push-2">
            <main>

[% IF op == 'add_form' %]
	<h1>
	   [% IF ( action_modify ) %]Modify authorized value[% END %]
	   [% IF ( action_add_value ) %]New authorized value[% END %]
	   [% IF ( action_add_category ) %]New category[% END %]
	</h1>

    [% IF ( action_modify ) %]<div class="note"><i class="fa fa-exclamation"></i> <strong>NOTE:</strong> If you change an authorized value code, existing records using it won't be updated. Changes to value descriptions will show immediately.</div>[% END %]

 <form action="/cgi-bin/koha/admin/authorised_values.pl" name="Aform" method="post" class="validated">
        <fieldset class="rows"><ol>
        [% IF action_add_category %]
            <li>
                <label for="category" class="required">Category: </label>
                <input type="text" name="category"  id="category" size="32" maxlength="32" class="focus required" />
                <span class="required">Required</span>
                <input type="hidden" name="op" value="add_category" />
            </li>
        [% ELSE %]
            <li>
                <span class="label">Category</span>
                <input type="hidden" name="op" value="add" />
                <input type="hidden" name="category" value="[% category | html %]" /> [% category | html %]
            </li>
        <li>
            <label for="authorised_value">Authorized value: </label>
            [% IF ( action_modify ) %]<input type="hidden" id="id" name="id" value="[% id | html %]" />[% END %]
            <input type="text" id="authorised_value" name="authorised_value" value="[% authorised_value | html %]" maxlength="80" class="focus" />
        </li>
        <li>
            <label for="lib">Description: </label>
            <input type="text" name="lib" id="lib" value="[% lib | html %]" maxlength="200" />
        </li>
	<li>
            <label for="lib_opac">Description (OPAC): </label>
            <input type="text" name="lib_opac" id="lib_opac" value="[% lib_opac | html %]" maxlength="200" />
        </li>
        <li><label for="branches">Library limitations: </label>
            <select id="branches" name="branches" multiple size="10">
                <option value="">All libraries</option>
                [% FOREACH branch IN branches_loop %]
                  [% IF ( branch.selected ) %]
                    <option selected="selected" value="[% branch.branchcode | html %]">[% branch.branchname | html %]</option>
                  [% ELSE %]
                    <option value="[% branch.branchcode | html %]">[% branch.branchname | html %]</option>
                  [% END %]
                [% END %]
            </select>
            <span>Select 'All libraries' if this authorized value must be displayed all the time. Otherwise select libraries you want to associate with this value.</span>
        </li>

		</ol>
        <div id="icons" class="toptabs" style="clear:both">
        <h5 style="margin-left:10px;">Choose an icon:</h5>
			<ul>
                  <li><a href="#none">None</a></li>
				  [% FOREACH imageset IN imagesets %]
                        [% IF ( imageset.imagesetactive ) %]<li class="ui-tabs-active">[% ELSE %]<li>[% END %]<a href="#[% imageset.imagesetname | uri %]">[% imageset.imagesetname | html %]</a></li>
				  [% END %]
			</ul>
  <div id="none"><ul>
  <li><label for="noimage">No image: </label><input type="radio" name="imageurl" id="noimage" value="removeImage" /></li>
  </ul>
  <br class="clear" /></div>
  [% FOREACH imageset IN imagesets %]
  <div id="[% imageset.imagesetname | html %]"><ul>
  [% FOREACH image IN imageset.images %]
			<li style="float: none; display: inline-block; clear : none; width: auto;">
            <label> [% IF ( image.StaffImageUrl ) %]
              <img src="[% image.StaffImageUrl | html %]" alt="[% image.StaffImageUrl | html %]" title="[% image.StaffImageUrl | html %]" />
        [% ELSE %]
        [% END %]
    [% IF ( image.checked ) %]
              <input type="radio" name="imageurl" value="[% image.KohaImage | html %]" checked="checked" />
    [% ELSE %]
              [% IF ( image.KohaImage ) %] <!-- to delete the radio button if there is no image after -->
              <input type="radio" name="imageurl" value="[% image.KohaImage | html %]" />
              [% END %]
    [% END %]
            </label>
			</li>
  [% END %]</ul>
  <br class="clear" />
  </div>
  [% END %]
  </div>
        [% END %]
        </fieldset>
       <fieldset class="action"> <input type="hidden" name="id" value="[% id | html %]" />
        <input type="submit" value="Save" /> <a class="cancel" href="/cgi-bin/koha/admin/authorised_values.pl?searchfield=[% category | url %]">Cancel</a></fieldset>
    </form>
[% END %]

[% IF op == 'list' %]

<div id="toolbar" class="btn-toolbar">
    <a id="addcat" class="btn btn-default" href= "/cgi-bin/koha/admin/authorised_values.pl?op=add_form"><i class="fa fa-plus"> </i> New category</a>
    [% IF ( searchfield ) %]
        <a id="addauth" class="btn btn-default" href= "/cgi-bin/koha/admin/authorised_values.pl?op=add_form&amp;category=[% category | url %]"><i class="fa fa-plus"> </i> New authorized value for [% category | html %]</a>
    [% END %]
</div>

[% IF ( searchfield ) %]
    <h1>Authorized values for category [% category | html %]</h1>
    [% PROCESS category_descriptions code_category = category %]
[% ELSE %]
    <h1>Authorized values</h1>
[% END %]

[% IF ( searchfield ) %]
    <div class="note">
        <i class="fa fa-exclamation"></i> <strong>NOTE:</strong> If you change an authorized value code, existing records using it won't be updated. Changes to value descriptions will show immediately.
    </div>
[% END %]

[% FOR m IN messages %]
    <div class="dialog [% m.type | html %]">
        [% SWITCH m.code %]
        [% CASE 'error_on_update' %]
            An error occurred when updating this authorized value. Perhaps the value already exists.
        [% CASE 'error_on_insert' %]
            An error occurred when inserting this authorized value. Perhaps the value or the category already exists.
        [% CASE 'error_on_insert_cat' %]
            An error occurred when inserting this authorized value category. Perhaps the category name already exists.
        [% CASE 'error_on_delete' %]
            An error occurred when deleting this authorized value. Check the logs.
        [% CASE 'success_on_update' %]
            Authorized value updated successfully.
        [% CASE 'success_on_insert' %]
            Authorized value added successfully.
        [% CASE 'success_on_insert_cat' %]
            Authorized value category added successfully.
        [% CASE 'success_on_delete' %]
            Authorized value deleted successfully.
        [% CASE 'already_exists' %]
            This authorized value already exists.
        [% CASE 'cat_already_exists' %]
            This authorized value category already exists.
        [% CASE 'invalid_category_name' %]
            The authorized value category 'branches', 'itemtypes' and 'cn_source' are used internally by Koha and are not valid.
        [% CASE %]
            [% m.code | html %]
        [% END %]
    </div>
[% END %]

[% IF ( searchfield ) %]

    <form action="/cgi-bin/koha/admin/authorised_values.pl" method="get" id="category">
        <p>
            <label for="searchfield">Show category: </label>
            <select name="searchfield" id="searchfield" size="1">
                [% FOR c IN categories %]
                    [% IF c == searchfield %]
                        <option value="[% c | html %]" selected="selected">[% c | html %]</option>
                    [% ELSE %]
                        <option value="[% c | html %]">[% c | html %]</option>
                    [% END %]
                [% END %]
            </select>
            <input type="submit" value="Submit" />
        </p>
    </form>

    [% IF loop %]

    <table id="categoriest" class="authorized_values_table">
    <thead><tr>
        <th>Authorized value</th>
        <th>Description</th>
        <th>Description (OPAC)</th>
        <th>Icon</th>
        <th>Library limitations</th>
        <th class="noExport">Actions</th>
        </tr>
    </thead><tbody>
    [% FOREACH loo IN loop %]
    <tr>
        <td>[% loo.authorised_value | html %]</td>
        <td>[% loo.lib | html %]</td>
        <td>[% loo.lib_opac | html %]</td>
        <td>[% IF ( loo.imageurl ) %]<img src="[% loo.imageurl | url %]" alt=""/>[% ELSE %]&nbsp;[% END %]</td>
        <td>
            [% IF loo.branches.size > 0 %]
                [% branches_str = "" %]
                [% FOREACH branch IN loo.branches %]
                    [%- IF loop.first -%]
                    [% branches_str = branch.branchname _ " (" _ branch.branchcode _ ")" %]
                    [% ELSE %]
                    [% branches_str = branches_str _ "\n" _ branch.branchname _ " (" _ branch.branchcode _ ")" %]
                    [% END %]
                [% END %]
                <span class="library_limitation" title="[% branches_str | html %]">
                    [% IF loo.branches.size > 1 %]
                        [% loo.branches.size | html %] library limitations
                    [% ELSE %]
                        [% loo.branches.size | html %] library limitation
                    [% END %]
            [% ELSE %]
                No limitation
            [% END %]
        </td>
        <td class="actions"><a href="/cgi-bin/koha/admin/authorised_values.pl?op=add_form&amp;id=[% loo.id | uri %]" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit</a>
        <a class="delete btn btn-default btn-xs" href="/cgi-bin/koha/admin/authorised_values.pl?op=delete&amp;searchfield=[% searchfield | uri %]&amp;id=[% loo.id | uri %]"><i class="fa fa-trash"></i> Delete</a></td>
    </tr>
    [% END # /FOREACH loop %]
    </tbody></table>
    [% ELSE %]
        <div class="dialog message">
            <p>There are no authorized values defined for [% category | html %]</p>
            <form action="/cgi-bin/koha/admin/authorised_values.pl" method="get">
                <input type="hidden" name="op" value="add_form" />
                <input type="hidden" name="category" value="[% category | html %]" />
                <button type="submit"><i class="fa fa-plus"></i> Add a new authorized value</button>
            </form>
        </div>
    [% END %]

[% ELSE # category was selected %]

    <table id="categoriest" class="authorized_values_table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th class="noExport">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            [% FOR c IN categories %]
                <tr>
                    <td><a href="/cgi-bin/koha/admin/authorised_values.pl?searchfield=[% c | uri %]">[% c | html %]</a></td>
                    <td>
                        [% PROCESS category_descriptions code_category = c %]
                    </td>
                    <td>
                        <a id="addauth" class="btn btn-default btn-xs" href= "/cgi-bin/koha/admin/authorised_values.pl?op=add_form&amp;category=[% c | uri %]"><i class="fa fa-plus"> </i> Add</a>
                    </td>
                </tr>
            [% END %]
        </tbody>
    </table>
[% END # /IF ( searchfield  )%]

[% END # /IF op == 'list' %]

            </main>
        </div> <!-- /.col-sm-10.col-sm-push-2 -->

        <div class="col-sm-2 col-sm-pull-10">
            <aside>
                [% INCLUDE 'admin-menu.inc' %]
            </aside>
        </div> <!-- /.col-sm-2.col-sm-pull-10 -->
     </div> <!-- /.row -->

[% MACRO jsinclude BLOCK %]
    [% Asset.js("js/admin-menu.js") | $raw %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'columns_settings.inc' %]
    <script>
        $(document).ready(function() {
            var columns_settings = []; // Empty because there are no columns we want to be configurable

            KohaTable("categoriest", {
                "aoColumnDefs": [
                    { "aTargets": [ -1 ], "bSortable": false, "bSearchable": false },
                ],
                "aaSorting": [[ 0, "asc" ]],
                "sPaginationType": "full"
            }, columns_settings);

            if ( $("#branches option:selected").length < 1 ) {
                $("#branches option:first").attr("selected", "selected");
            }
            $('#icons').tabs();

            $("a.delete").click(function(){
                return confirm(_("Are you sure you want to delete this authorized value?"));
            });
            $('#category').find("input:submit").hide();
            $('#searchfield').change(function() {
                $('#category').submit();
            });
            $(".library_limitation").tooltip();
        });
    </script>
[% END %]

[% BLOCK category_descriptions %]
    [% SWITCH code_category %]
        [% CASE 'Asort1' %]
            <p>Used for acquisitions statistical purposes</p>
        [% CASE 'Asort2' %]
            <p>Used for acquisitions statistical purposes</p>
        [% CASE 'BOR_NOTES' %]
            <p>Values for custom patron messages that appear on the circulation screen and the OPAC. The value in the description field should be the message text and is limited to 200 characters</p>
        [% CASE 'branches' %]
            <p></p>
        [% CASE 'Bsort1' %]
            <p>Values that can be entered to fill in the patron’s sort 2 field</p>
        [% CASE 'Bsort2' %]
            <p>An authorized value attached to patrons, that can be used for statistical purposes</p>
        [% CASE 'CAND' %]
            <p></p>
        [% CASE 'CCODE' %]
            <p>Collection codes (appears when cataloging and working with items)</p>
        [% CASE 'cn_source' %]
            <p></p>
        [% CASE 'CONTROL_NUM_SEQUENCE' %]
            <p></p>
        [% CASE 'COUNTRY' %]
            <p>Used in UNIMARC 102 $a</p>
        [% CASE 'DAMAGED' %]
            <p>Descriptions for items marked as damaged (appears when cataloging and working with items)</p>
        [% CASE 'DEPARTMENT' %]
            <p>Departments are required by and will be used in the Course Reserves module</p>
        [% CASE 'ETAT' %]
            <p>Used in French UNIMARC installations in field 995 $o to identify item status. Similar to NOT_LOAN</p>
        [% CASE 'HINGS_AS' %]
            <p>General holdings: acquisition status designator :: This data element specifies acquisition status for the unit at the time of the holdings report.</p>
        [% CASE 'HINGS_C' %]
            <p>General holdings: completeness designator</p>
        [% CASE 'HINGS_PF' %]
            <p>Physical form designators</p>
        [% CASE 'HINGS_RD' %]
            <p>General holdings: retention designator :: This data element specifies the retention policy for the unit at the time of the holdings report.</p>
        [% CASE 'HINGS_UT' %]
            <p>General holdings: type of unit designator</p>
        [% CASE 'HSBND_FREQ' %]
            <p>Frequencies used by the housebound module. They are displayed on the housebound tab in the patron account in staff.</p>
        [% CASE 'ITEMTYPECAT' %]
            <p>Allows multiple Item types to be searched in a category. Categories can be entered into the Authorized value ITEMTYPECAT. To combine Item types to this category, enter this Search category to any Item types</p>
        [% CASE 'itemtypes' %]
            <p></p>
        [% CASE 'LANG' %]
            <p>ISO 639-2 standard language codes</p>
        [% CASE 'LOC' %]
            <p>Shelving location (usually appears when adding or editing an item). LOC maps to items.location in the Koha database.</p>
        [% CASE 'LOST' %]
            <p>Descriptions for the items marked as lost (appears when adding or editing an item)</p>
        [% CASE 'NOT_LOAN' %]
            <p>Reasons why a title is not for loan</p>
        [% CASE 'OPAC_SUG' %]
            <p>A list of reasons displayed in the suggestion form on the OPAC.</p>
        [% CASE 'ORDER_CANCELLATION_REASON' %]
            <p>Reasons why an order might have been cancelled</p>
        [% CASE 'PAYMENT_TYPE' %]
            <p>Populates a dropdown list of custom payment types when paying fines</p>
        [% CASE 'qualif' %]
            <p>Function codes (author, editor, collaborator, etc.) used in UNIMARC 7XX $4 (French)</p>
        [% CASE 'RELTERMS' %]
            <p>French terms of relations</p>
        [% CASE 'REPORT_GROUP' %]
            <p>A way to sort and filter your reports, the default values in this category include the Koha modules (Accounts, Acquitisions, Catalog, Circulation, Patrons)</p>
        [% CASE 'REPORT_SUBGROUP' %]
            <p>Can be used to further sort and filter your reports. This category is empty by default. Values here need to include the authorized value code from REPORT_GROUP in the Description (OPAC) field to link the subgroup to the appropriate group.</p>
        [% CASE 'RESTRICTED' %]
            <p>Restricted status of an item</p>
        [% CASE 'ROADTYPE' %]
            <p>Road types to be used in patron addresses</p>
        [% CASE 'SIP_MEDIA_TYPE' %]
            <p>Used when creating or editing an item type to assign a SIP specific media type for devices like lockers and sorters.</p>
        [% CASE 'STACK' %]
            <p>Shelving control number</p>
        [% CASE 'SUGGEST' %]
            <p>List of patron suggestion reject or accept reasons (appears when managing suggestions)</p>
        [% CASE 'SUGGEST_FORMAT' %]
            <p>List of Item types to display in a drop down menu on the Purchase suggestion form on the OPAC. When creating the authorized values for SUGGEST_FORMAT, enter a description into this form so it is visible on the OPAC to patrons.</p>
        [% CASE 'SUGGEST_STATUS' %]
            <p>A list of additional custom status values for suggestions that can be used in addition to the default values.</p>
        [% CASE 'TERM' %]
            <p>Terms to be used in Course Reserves module. Enter terms that will show in the drop down menu when setting up a Course reserve. (For example: Spring, Summer, Winter, Fall).</p>
        [% CASE 'WITHDRAWN' %]
            <p>Description of a withdrawn item (appears when adding or editing an item)</p>
        [% CASE 'YES_NO' %]
            <p>A generic authorized value field that can be used anywhere you need a simple yes/no pull down menu.</p>
    [% END %]
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
